{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body_class %}page-login{% endblock %}

{% block page_content %}
    <div class="page-title-wrapper container">
        <h1 class="page-title">
            {{ 'Hello there!'|trans }}
        </h1>
    </div>

    <div class="customer-login">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>{{ 'Please sign in'|trans }}</h2>
                    {% include 'component/form/login.html.twig' %}
                </div>
                <div class="col-md-6">
                    {% if app.user %}
                        <h2>{{ 'Not you?'|trans }}</h2>
                        <a href="{{ path('app_logout') }}">
                            {{ 'Logout'|trans }}
                        </a>
                    {% else %}
                        <h2>{{ 'New customer?'|trans }}</h2>
                        <a href="{{ path('app_register') }}">
                            {{ 'Register an account'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
